<%= render partial: "layouts/navbar"%>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2><%=@seminar.title%></h2>
        <p><%=@seminar.date%></p>
        <p>given by <%=@seminar.speecher%></p>
    </div>
    <div class="panel-body">
        <% unless @seminar.attachment_url.nil? %>
        <p>
            <a href="<%=@seminar.attachment_url%>">[첨부파일 다운로드]</a>
        </p>
        <% end %>
        <%=@seminar.content.html_safe %>
        <p>
            <a href="/seminar/<%=category%>/edit/<%=@seminar.id%>">[수정]</a>
            <a href="/seminar/<%=category%>/destroy/<%=@seminar.id%>">[삭제]</a>
        </p>
    </div>
</div>
